<div class="ingredient-fields row align-items-center">
  <%= f.hidden_field :_destroy %>
  <div class="col">
    <%= f.label '(必須)タイミング' %>
    <div class="form-group">
      <%= f.select :take_time, TakeTime.take_times.keys.map { |k| [t("enum.take_time.take_time.#{k}"), k] }, { include_blank: "未選択" }, { class: "text-[#9A7E7E] form-select min-w-[120px] ml-4 rounded-[3px] border border-[#9A7E7E]" } %>
    </div>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-danger remove-ingredient mb-3">
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(document).on('click', '.remove-ingredient', function(){
      $(this).closest('.ingredient-fields').find("input[name$='[_destroy]']").val('true');
      $(this).closest('.ingredient-fields').hide();
    });
  });
</script>