<% content_for(:title, t('.title')) %>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <div class='text-cente flex justify-center'>
     <%= render 'drugs/search_form', q: @q, url: drugs_path %>
    </div>
  </div>
</div>
  <!-- 掲示板一覧 -->
 <div class="container mx-auto px-4">
  <div class="flex flex-wrap justify-start">
    <% if @drugs.present? %>
      <%= render @drugs %>
    <% else %>
      <p>薬登録がありません</p>
    <% end %>
  </div>
</div>
