<% content_for(:title, t('.title')) %>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <div class='text-cente flex justify-center'>
     <%= render 'drugs/search_form', q: @q, url: drugs_path %>
    </div>
  </div>
</div>
<div class='text-cente flex justify-center'>
     <div class="text-center">
        <%=  submit_tag "薬を登録する", class: "w-[200px] mt-10 mb-10 focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900" %>
    </div>
    </div>
  <!-- 掲示板一覧 -->
 <div class="container mx-auto px-4">
  <div class="flex flex-wrap justify-start">
    <% if @drugs.present? %>
      <%= render @drugs %>
    <% else %>
      <p>薬登録がありません</p>
    <% end %>
  </div>
  <%= render partial: 'kaminari/paginator', locals: { drugs: @drugs } %>
</div>
