

<div>
  <%= month_calendar events: @drugs do |date, drugs| %>
    <span class="block text-xs font-semibold text-gray-900"><%= date.day %></span>
    <% displayed_drug_ids = [] %>
    <% drugs.each do |drug| %>
    <% medication_checks = drug.medication_checks.where(check: true, check_time: date) %>
    <% if medication_checks.present? && !displayed_drug_ids.include?(drug.id) %>
      <div class="mt-1">
<%= link_to drug.drug_name, with_date_show_drug_confirmation_path(id: drug.id, date: date.to_s), class: "rounded bg-gray-300 w-full hover:text-indigo-900" %>      </div>
<% displayed_drug_ids << drug.id %>
<% end %>
    <% end %>
    
     <% end %>
</div>