<div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <div class='text-cente flex justify-center'>
      <ul class="list-none my-3 flex-grow">
      <li><h1 class="font-bold text-4xl">今日服用する予定の薬が表示されます</h1></li>
     <li><%= l(@day)  %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mx-auto px-4">
  <div class="flex flex-wrap justify-start">
    <% if @drugs.present? %>
      <%= render partial: 'special_posts', collection: @drugs, as: :drug %>
    <% else %>
      <p>薬登録がありません</p>
    <% end %>
  </div>
</div>
