<div>
  <%= month_calendar events: @drugs do |date, drugs| %>
    <span class="block text-xs font-semibold text-gray-900"><%= date.day %></span>
    <% drugs.each do |drug| %>
      <div class="mt-1">
<%= link_to drug.drug_name, with_date_calendar_path(id: drug.id, date: date.to_s), class: "block text-sm font-medium text-indigo-600 hover:text-indigo-900" %>      </div>
    <% end %>
    
     <% end %>
</div>