<div class=" flex flex-col justify-center items-center">
  <div class="container mx-auto px-10">



<ul class="list-reset flex border-b">
  <li class="-mb-px mr-1">
    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-dark font-semibold" href="/calendars">登録された薬</a>
  </li>
  <!--li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold" href="/drug_confirmations">チェック済みの薬</a>
  </li-->
</ul>

<div>

  <%= month_calendar events: @drugs do |date, drugs| %>
    <span class="block text-xs font-semibold text-gray-900"><%= date.day %></span>
    <% drugs.each do |drug| %>
     <% check_status = MedicationCheck.find_by(drug: drug, check_time: date)&.check %>
      <div class="mt-1 <%= check_status ? 'bg-green-200' : 'bg-gray-300' %> ">
<%= link_to drug.drug_name, with_date_calendar_path(id: drug.id, date: date.to_s), class: "w-full rounded hover:text-indigo-900" %>      </div>
    <% end %>
    
     <% end %>
</div>
</div>
</div>

